body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* ------------------------ Header I ------------------------  */

#headerI #hrhead1 {
  border: 12px solid #840101;
  margin-top: -8px;
}

#headerI .top-bar {
  background-color: #a90000;
  color: #fff;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerI #logo_cps {
  width: auto;
  height: 80px;
  margin-right: 60px;
}

#headerI #logo_fatec {
  width: auto;
  height: 65px;
  margin-left: 60px;
}

/* ------------------------ Header II ------------------------  */

#headerII .top-bar {
  color: #fff;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -15px;
}

#headerII #logo_cps {
  width: auto;
  height: 70px;
  margin-right: 60px;
}

#headerII #logo_fatec {
  width: auto;
  height: 95px;
  margin-left: 130px;
}




/* ------------------------ Nav ------------------------  */
.navbar {
  background-color: #B20000;
  display: flex;
  justify-content: center;
  gap: 1px;
  padding: 0;
  height: 60px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 20px;
  border-radius: 5px;
  height: 100%;
  transition: background-color 0.3s ease;
  width: 90px;
  border: 1px solid #660000;
  border-left: none;
  font-size: 19px;
}

.navbar #home {
  border: 1px solid #660000;
}


.navbar a:hover {
  background-color: #660000;
}


#hrhead1 {
  border: 4px solid #660000;
  margin-top: -2px;
}


/* ------------------------ Footer I ------------------------  */

#hrfoot1 {
  border: 18px solid #0C254a;
  margin-bottom: -6px;
}

#footerI {
  background-color: #11366b;
  color: white;
  padding: 40px 50px;
  margin-bottom: -50px;
}

#footerI .footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

#footerI .coluna {
  display: flex;
  max-width: 200px;
  justify-content: center;
  margin-left: -70px;

}

#footerI .coluna p {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 20px;
}

#footerI #logo_vortex_s {
  width: auto;
  height: 120px;
  margin-bottom: 10px;
}

#footerI #logo_vortex_n {
  width: auto;
  height: 60px;
  margin-bottom: 10px;
  margin-left: -8px;
}

#footerI .texto-sistema {
  max-width: 400px;
  display: flex;
  min-width: 200px;
  justify-content: center;
  text-align: justify;
}

#footerI .direita {
  text-align: right;
  margin-right: -110px;

}

#footerI .direita img {
  width: auto;
  height: 70px;

}


/* ------------------------ Footer II ------------------------  */

#hrfoot1 {
  border: 18px solid #0C254a;
  margin-bottom: -6px;
}

#footerII {
  background-color: #11366b;
  color: white;
  padding: 40px 50px;
  margin-bottom: -50px;
}

#footerII .footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

#footerII .coluna {
  display: flex;
  max-width: 150px;
  justify-content: center;

}

#footerII #logoVor {
  margin-left: -70px;
}

#footerII .texto-sistema {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#footerII .texto-sistema #colunaas {
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: -47px;
}

#footerII .texto-sistema #colunaas p {
  font-size: 16px;
  margin-top: 20px;
}

#footerII .texto-sistema #colunaas h2 {
  height: 50px;
  font-size: 22px;
  margin-top: 20px;
}

#footerII .texto-sistema #colunaas img {
  width: 25px;
  margin-top: -5PX;
  margin-bottom: -5px;
  margin-right: 5px;
}

#footerII .Telefonee {
  height: 180px;
  border-left: 2px solid #0c254a;

}

#footerII .direita {
  text-align: right;
  max-width: 120px;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

#footerII .direita img {
  width: auto;
  height: 130px;
}

#footerII .politica {
  text-align: center;
  margin-bottom: -25px;
}

#footerII .politica a:hover {
  font-size: 20.5px;
}


#footerII .politica p {
  text-align: center;
  font-size: 17px;
  margin-bottom: 0px;
}

#footerII .politica a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* ------------------------ Main Index ------------------------  */


#mainindex {
  text-align: center;
  padding: 80px 0 160px;
}

#mainindex h2 {
  color: #a90000;
  font-size: 2.5em;
  letter-spacing: 2px;
}

#mainindex .descricao {
  color: #444;
  margin: 15px 0;
  font-size: 1.2em;
}

#mainindex .acesso {
  font-weight: bold;
  color: #303030;
  letter-spacing: 2px;
  margin: 40px 0 20px;
}

#mainindex .botoes {
  display: flex;
  justify-content: center;
  gap: 20px;

}

#mainindex .botao {
  background-color: #1D3C68;
  color: white;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  width: 200px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

#mainindex .botao:hover {
  background-color: #102542;
}



/* ------------------------ Main Login ------------------------  */


.voltar {
  display: inline-block;
  margin: 22px;
  background-color: #1D3C68;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: middle;
}

.voltar:hover {
  background-color: #102542;
}

.voltar img {
  height: 18px;
  margin-bottom: -3px;
  margin-right: 5px;

}

#mainlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 120px;
}


#mainlogin .login-box {
  background-color: #f5f5f5;
  border: 2px solid #004080;
  border-radius: 12px;
  padding: 30px 40px;
  width: 400px;
  text-align: center;

}

#mainlogin .login-box #linha {
  display: flex;
  justify-content: center;
  margin-left: -15px;
}

#mainlogin .login-box h2 {
  font-size: 48px;
  color: #1a355e;
  margin-bottom: 0;
  margin-top: 8px;
  letter-spacing: 2px;
}

#mainlogin .login-box h3 {
  color: #333;
  margin: 5px 0 25px;
  font-weight: normal;
  font-style: bold;
}


#mainlogin .login-box label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin: 38px 15px 5px;
  width: 80px;

}

#mainlogin .login-box input {
  width: 280px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #dbdbdb;
  font-size: 14px;
  margin-top: 30px;

}

#mainlogin .login-box button {
  background-color: #a90000;
  color: white;
  padding: 10px 30px;
  margin: 20px 0 10px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 50px;
  width: 180px;
}

#mainlogin .login-box button:hover {
  background-color: #790303;

}

#mainlogin .login-box .ajuda {
  display: block;
  font-size: 15px;
  margin-top: 10px;
  color: #1a355e;
  margin-bottom: 16px;
  width: 150px;

}

#mainlogin .login-box .ajuda:hover {
  color: #014dc0;
}

/* ------------------------ Main Ajuda Login ------------------------  */



#mainAjulog {
  padding: 0 30px 30px;
  text-align: center;
}

#mainAjulog h2 {
  font-size: 35px;
  color: #1a355e;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 0px;
}

#mainAjulog .box-ajuda {
  display: inline-block;
  background-color: #f3f3f3;
  border: 1.5px solid #ccc;
  border-radius: 12px;
  padding: 30px;
  max-width: 450px;
}


#mainAjulog .box-ajuda p {
  color: #333;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

#mainAjulog .telefones {
  background-color: #13294b;
  color: white;
  padding: 20px 50px 20px 50px;
  margin: 0 50px 0 50px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

#mainAjulog .telefones #Centro {
  display: flex;
  justify-content: center;
}

#mainAjulog .telefones img {
  height: 30px;
  margin-bottom: -3px;
  margin-right: 5px;
}

#mainAjulog .telefones div {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}


/* ------------------------ Main politiccas ------------------------  */

#mainpoli {
  padding: 30px 8px 80px 80px;
  max-width: 900px;
  margin: auto;
}

#mainpoli h1 {
  color: #790303;
  margin-top: 40px;
}

#mainpoli h2 {
  color: #002c5f;
  margin-top: 40px;
}

#mainpoli .linha-fina {
  height: 3px;
  flex-grow: 1;
  background-color: #800000;
}

#mainpoli .linha-completa {
  display: flex;
  align-items: center;
  height: 10px;
  margin: 20px 0;
  margin-top: -20px;
}

#mainpoli .linha-grossa {
  height: 15px;
  width: 150px;
  background-color: #800000;
  border-radius: 10px;

}

/* ------------------------ Main Ajuda ------------------------  */


#mainajuda {
  padding: 40px 60px;
  max-width: 1000px;
  margin: auto;
}

#mainajuda .sugestoes {
  margin-bottom: 60px;
}

#mainajuda .sugestoes h2 {
  color: #002c5f;
  margin-bottom: 10px;
}

#mainajuda .sugestoes p {
  margin-bottom: 15px;
  max-width: 600px;
}

#mainajuda textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #014dc0;
  resize: none;
  margin-bottom: 10px;
  background-color: #f1f6fc;
}

#mainajuda button {
  background-color: #c00;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

#mainajuda button:hover {
  background-color: #790303;

}

#mainajuda .faq {
  margin-top: 40px;
}

#mainajuda .faq h2 {
  margin-bottom: 20px;
  color: #222;
}

#mainajuda .faq-item {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

#mainajuda .faq-item:hover {
  background-color: #f9f9f9;
}

#mainajuda .faq-pergunta {
  cursor: pointer;
  display: block;
  padding: 12px;
  background-color: #eaeaea;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

#mainajuda .faq-pergunta:hover {
  background-color: #ddd;
}

#mainajuda .faq-item.ativo .faq-pergunta {
  background-color: #cecece;
}

#mainajuda .faq-resposta {
  display: none;
  margin-top: 5px;
  padding-left: 30px;
  color: #444;
  font-size: 0.95rem;
  line-height: 1.5;
}

#mainajuda .faq-item.ativo .faq-resposta {
  display: block;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-conteudo {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: left;
  border: 3px solid #c00;
}

.popup-conteudo a {
  text-decoration: none;
}

.popup-conteudo h2 {
  margin-top: 0;
}

.popup-conteudo .fechar {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #444;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-conteudo-erro {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  width: 300px;
  box-shadow: 0 0 10px #000;
}

.popup-conteudo-erro {
  border: 2px solid #8b0000;
}

.popup-conteudo-erro h2 {
  color: #0a2740;
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-conteudo-erro p {
  color: #444;
  margin-bottom: 20px;
}

.popup-conteudo-erro button {
  padding: 10px 20px;
  background-color: #b40000;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}


/* ------------------------ Main Sobre ------------------------  */


#mainsobre {
  padding: 60px 40px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#mainsobre .sobre-texto {
  max-width: 600px;
}

#mainsobre .sobre-texto h2 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #002c5f;
}

#mainsobre .sobre-texto p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 90px;
  text-align: justify;

}

#mainsobre .logo-vortex {
  margin-top: 35px;
  max-width: 350px;
}



/* ------------------------ Main Home (alunos) ------------------------  */

#mainhome {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

#mainhome section {
  margin-bottom: 60px;
}

#mainhome h2 {
  font-size: 28px;
  color: #1a355e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 19px;
  letter-spacing: 1.5px;
  margin-bottom: -13px;
}

#mainhome .votacoes .linha-completa,
#mainhome .candidatar .linha-completa {
  display: flex;
  align-items: center;
  height: 10px;
  margin: 20px 0;
  margin-bottom: 40px;
}

#mainhome .votacoes .linha-grossa {
  height: 15px;
  width: 170px;
  background-color: #800000;
  border-radius: 10px;
}

#mainhome .votacoes .linha-fina {
  height: 3px;
  flex-grow: 1;
  background-color: #800000;
}

#mainhome .candidatar .linha-grossa {
  height: 15px;
  width: 230px;
  background-color: #800000;
  border-radius: 10px;
}

#mainhome .candidatar .linha-fina {
  height: 3px;
  flex-grow: 1;
  background-color: #800000;
}

#mainhome .caixa-votacao {
  display: flex;
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 12px;
  align-items: center;
  gap: 20px;
  width: 850px;
}

#mainhome .texto-voto h3 {
  font-size: 18px;
}

#mainhome .texto-voto p {
  font-size: 14px;
  margin-bottom: 70px;
}

#mainhome .botao-leia {
  display: inline-block;
  background-color: purple;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  margin-left: 220px;
}

#mainhome .subtexto {
  font-size: 14px;
  margin-bottom: 15px;
}

#mainhome .caixa-candidatura {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
  gap: 20px;
}

#mainhome .icon-cand {
  width: 60px;
  height: 60px;
}

#mainhome .texto-cand p {
  font-size: 14px;
}

#mainhome .botao-cand {
  background-color: #a90000;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-left: auto;
}


#mainhome .carousel {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #ddd;
  flex-shrink: 0;
  border: 2px solid #014dc0;
}

#mainhome .carousel-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#mainhome .carousel-img.active {
  opacity: 1;
}

#mainhome .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  transition: background-color 0.3s ease;
}

#mainhome .carousel-btn.prev {
  left: 10px;
}

#mainhome .carousel-btn.next {
  right: 10px;
}


#mainhome .carousel-btn:hover {
  background-color: rgba(128, 0, 128, 0.7);

}

/* ------------------------ Main eleja-se ------------------------  */

#mainelenao {
  padding: 40px;
  text-align: center;
}

#mainelenao h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #223;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#mainelenao .form-container {
  background-color: #f9f9f9;
  border: 2px solid #0d2a53;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  padding: 30px;
}

#mainelenao label {
  display: block;
  text-align: left;
  font-size: 0.9rem;
  margin-top: 10px;
  color: #222;
  margin-right: 8px;
  margin-bottom: -17px;

}

#mainelenao input,
#mainelenao textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 25px;
  border-radius: 18px;
  border: 1px solid #0d2a53;
  background-color: #f1f1f1;
  resize: none;
  padding-right: 2px;
}

#mainelenao .row {
  display: flex;
  gap: 10px;

}

#mainelenao .row input {
  flex: 1;
}

#mainelenao .btn-submit {
  background-color: #c00;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

#mainelenao #matricula,
#mainelenao #semestre,
#mainelenao #curso {
  background-color: #dbdbdb;
}

#mainelenao #semestre {
  width: 110px;
}

#mainelenao .btn-submit:hover {
  background-color: #a60000;
}


#mainelenao #linha {
  display: flex;
  justify-content: center;
}


.popup-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.popup-box {
  background-color: #f1f1f1;
  border: 2px solid #800000;
  border-radius: 7px;
  width: 280px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.popup-box h2 {
  margin-top: 15px;
  color: #002147;
}

.popup-box p {
  margin: 10px 20px;
  font-size: 14px;
  color: #333;
}

.popup-box button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #c00000;
  color: white;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.popup-box button:hover {
  background-color: #a00000;
}

#mainelenao .foto-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#mainelenao .foto-container {
  position: relative;
  display: inline-block;
}

#mainelenao .foto-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#mainelenao .foto-label img#preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #0d2a53;
  padding: 10px;
  background-color: #b7bbff56;
}

#mainelenao .foto-label img#preview:hover {
  border: 2px dashed #0d2a53;
  background-color: #b7bbff56;

}

#mainelenao .icone-upload {
  position: absolute;
  bottom: 2px;
  right: 4px;
  width: 30px;
  height: 30px;
}

#mainelenao input[type="file"] {
  display: none;
}

/* ------------------------ Main Votar (inicial) ------------------------  */

#mainvotarinicio section {
  max-width: 800px;
  margin: 0 auto;
}

#mainvotarinicio h2 {
  font-size: 1.5rem;
  color: #2c3e50;
  display: inline-block;
  padding-bottom: 0.25rem;
  margin-top: 40px;
}

#mainvotarinicio p {
  margin-top: 1.5rem;
  font-weight: bold;
  color: #000;
}

#mainvotarinicio .card {
  margin-top: 100px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f5f5f5;
  margin-bottom: 150px;
}

#mainvotarinicio .card-icon {
  flex-shrink: 0;
  padding: 1.5rem;
}

#mainvotarinicio .card-content {
  padding: 1rem;
  flex-grow: 1;
}

#mainvotarinicio .card-content p {
  margin: 0 0 1rem 0;
  font-weight: bold;
}

#mainvotarinicio .card-content a {
  background-color: #a00d14;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

#mainvotarinicio .linha-completa {
  display: flex;
  align-items: center;
  height: 10px;
  margin: 20px 0;
  margin-bottom: 40px;
  margin-top: -20px;
}

#mainvotarinicio .linha-grossa {
  height: 15px;
  width: 190px;
  background-color: #800000;
  border-radius: 10px;
}

#mainvotarinicio .linha-fina {
  height: 3px;
  flex-grow: 1;
  background-color: #800000;
}


/* ------------------------ Main Votar (Escolha) ------------------------  */



#mainvotar {
  padding: 30px;
  margin-bottom: 150px;
}

#mainvotar #h23 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -15px;
  color: #1a355e;
  margin-left: 10px;
}

#mainvotar .linha {
  width: 100%;
  max-width: 360px;
  border: 2px solid #990000;
  border-radius: 2px;
  margin-top: 4px;
  margin-bottom: 0px;
}

#mainvotar .votacoes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 55px;
  justify-content: center;
}

#mainvotar .card {
  background-color: #0c2d52;
  color: white;
  border-radius: 12px;
  padding: 15px;
  width: 220px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#mainvotar .card:hover {
  background-color: #153e72;
}

#mainvotar .card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#mainvotar .card button {
  margin-top: 10px;
  background-color: #d20000;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  top: 25px;
}


#mainvotar .card button:hover {
  background-color: #a70000;
}

#mainvotar .card.destaque {
  height: auto;
  width: 230px;
  transform: scale(1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#mainvotar .card .frase {
  font-size: 13px;
  margin-top: 10px;
  padding: 0 10px;
  display: none;
}

#mainvotar .card.destaque .frase {
  display: block;
}

#centro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 0px;
}

#mainvotar #centro p {
  text-align: center;
}

#mainvotar .linha-completa {
  display: flex;
  align-items: center;
  height: 10px;
  margin: 20px 0;
  margin-bottom: 50px;
}

#mainvotar .linha-grossa {
  height: 15px;
  width: 195px;
  background-color: #800000;
  border-radius: 10px;
}

#mainvotar .linha-fina {
  height: 3px;
  flex-grow: 1;
  background-color: #800000;
}


#mainvotar .votacao-completo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: -60px;
}

#mainvotar .votacoes-container {
  display: flex;
  overflow-x: auto;
  margin: 0px;
  padding: 0px;
  flex-shrink: 0;
  scrollbar-width: thin;
  scrollbar-color: #990000 transparent;
}

#mainvotar #seta-esquerda,
#mainvotar #seta-direita {
  background-color: #d20000;
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-top: 110px;
}

#mainvotar #seta-esquerda:hover,
#mainvotar #seta-direita:hover {
  background-color: #a70000;
}


#mainvotar .card {
  position: relative;
}

#mainvotar .card .nome-candidato {
  min-height: 68px;
  /* edita altura  //  não é gpt, o codigo esta ruim :) */
}

#mainvotar .card button.botao-votado {
  background-color: #28a745;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
}

.botao-votado img.icone-voto {
  max-width: 25px;
  max-height: 25px;
  margin-top: 10px;
}

#popupvotarestcolha,
.direcaoPopup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

#popupvotarestcolha .popup-box,
.direcaoPopup-box {
  background: #e1e1e1;
  padding: 25px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border: 1px solid #a70000;
}

#popupvotarestcolha .popup-box h2,
.direcaoPopup-box h2 {
  margin-top: 0;
  font-size: 24px;
}


#popupvotarestcolha .popup-box p,
.direcaoPopup-box p {
  margin: 10px 0;
  font-size: 16px;
}

#popupvotarestcolha .popup-buttons,
.direcaoPopup-box .direcaoPopup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 15px;
}

#popupvotarestcolha .popup-buttons button,
.direcaoPopup-box .direcaoPopup-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#popupvotarestcolha .btn-ok,
.direcaoPopup-box .btn-ok {
  background-color: #d20000;
  color: white;
}

#popupvotarestcolha .btn-ok:hover,
.direcaoPopup-box .btn-ok:hover {
  background-color: #a70000;
}

#popupvotarestcolha .btn-sair,
.direcaoPopup-box .btn-sair {
  background-color: #0c2d52;
  color: white;
}

#popupvotarestcolha .btn-sair:hover,
.direcaoPopup-box .btn-sair:hover {
  background-color: #062042;
}


.voto-branco-btn {
    display: block;
    margin: -40px auto 80px auto; /* 25px em cima, 60px embaixo */
    background: #064481; 
    color: #fff;
    padding: 14px 26px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    transition: 0.2s ease;
}

.voto-branco-btn:hover {
    background: rgb(15, 75, 134); 
    transform: scale(1.05);
}

.voto-branco-btn:disabled {
    background: #19A819;
    cursor: default;
    transform: none;
    opacity: 0.9;
}

.icone-voto {
  width: 24px;
  height: 24px;
}



/* ------------------------ Main gerenciar voto (final) ------------------------  */



/* ===== MAIN GERAL ===== */
#maingerenciarvoto {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: #f5f5f5;
    min-height: calc(100vh - 250px);
}

#maingerenciarvoto .container {
    background: #fff;
    width: 90%;
    max-width: 1100px;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* ===== TÍTULOS ===== */
#maingerenciarvoto h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#maingerenciarvoto h3 {
    font-size: 24px;
    margin-top: 25px;
    text-align: center;
}


/* ===== LINHAS ===== */
#maingerenciarvoto .linha-completa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: -5px auto 40px auto;
}

#maingerenciarvoto .linha-fina {
    flex-grow: 1;
    height: 3px;
    background-color: #c0392b; /* vermelho claro */
    border-radius: 6px;
}

#maingerenciarvoto .linha-grossa {
    width: 320px;
    height: 16px;
    background-color: #8b0000; /* vermelho escuro */
    border-radius: 10px;
  
}




/* ===== SUBTÍTULO ===== */
#maingerenciarvoto .subtitulo {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #444;
}

/* ===== INFO BOX ===== */
#maingerenciarvoto .caixa-info {
    background: #fafafa;
    border-left: 4px solid #0003b3;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 25px;
    border-radius: 6px;
}

#maingerenciarvoto .caixa-info p {
    margin: 5px 0;
    color: #333;
}

/* ===== BOTÕES ===== */
#maingerenciarvoto .acoes-gerenciamento {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

#maingerenciarvoto .btn-gerenciar,
#maingerenciarvoto .btn-voltar {
    padding: 10px 25px;
    background: #002ab3;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.2s;
    border: 2px solid #001f80; /* única borda final */
}

#maingerenciarvoto .btn-gerenciar:hover,
#maingerenciarvoto .btn-voltar:hover {
    background: #000e89;
}

#maingerenciarvoto .btn-voltar {
    background: #444;
    border-color: #222; /* borda do botão voltar */
}

#maingerenciarvoto .btn-voltar:hover {
    background: #222;
}



/* ===== LISTA DE CANDIDATOS ===== */
#maingerenciarvoto .lista-candidatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    margin-top: 20px;

    max-height: 800px;    /* altura máxima da lista */
    overflow-y: auto;     /* adiciona rolagem se passar do limite */
    padding: 10px;
}

/* CARD DO CANDIDATO */
#maingerenciarvoto .card-candidato {
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.12);
    word-wrap: break-word;
}

/* FOTO DO CANDIDATO */
#maingerenciarvoto .foto-cand {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #b30000; /* borda vermelha */
}

#maingerenciarvoto .container {
    max-height: none; 
}







/* ===== FOTO DOS CANDIDATOS ===== */
#maingerenciarvoto .foto-cand {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid #0039b3;
}

/* ===== TEXTO QUANDO NÃO TEM CANDIDATOS ===== */
#maingerenciarvoto .sem-candidatos {
    text-align: center;
    font-size: 18px;
    color: #444;
    margin: 25px 0 15px 0;
}





/* ------------------------ Main Votar (final) ------------------------  */



#maindex {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 20px;

}

#maindex h2 {
  color: #002c5f;
  margin-bottom: 10px;
  font-weight: bold;
}

#maindex .linha-completa {
  display: flex;
  align-items: center;
  height: 10px;
  margin: 20px 0 -10px;
}

#maindex .linha-grossa {
  height: 15px;
  width: 250px;
  background-color: #800000;
  border-radius: 10px;
}

#maindex .linha-fina {
  height: 3px;
  flex-grow: 1;
  background-color: #800000;
}

#maindex .candidate {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 30px 0;
  align-items: flex-start;
  background-color: #d4d4d465;
  padding: 15px;
  border: 1px solid #00388b;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#maindex .candidate-info {
  flex: 1;
  max-width: 280px;
}

#maindex .candidate-info img {
  width: 270px;
  height: 300px;
  object-fit: cover;
  border: 4px solid #002c5f;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

#maindex .candidate-info h3 {
  background-color: #002c5f;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
  border-radius: 5px;
}

#maindex .candidate-info p {
  font-size: 13px;
  margin-top: 10px;
}

#maindex .result-info {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}

#maindex .result-info p {
  font-size: 14px;
  margin-bottom: 8px;
}

#maindex .result-info strong {
  color: #002c5f;
  font-size: 20px;
  display: block;
  margin: 10px 0;
}


.result-circle {
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  border: 4px solid #00254e;
  border-radius: 50%;
  color: #002c5f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  margin-top: 80px;
  background-image: url("../img/fundo_circlo.png");
  background-size: cover;
  background-position: center;
}


#maindex .icon-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;

}

#maindex .icon-footer img {
  max-width: 90px;
  height: 35px;
  padding-right: 15px;
}




/* ------------------------ Main ver cursos ------------------------  */

#mainVer .content {
  max-width: 1000px;
  margin: 100px auto 80px auto; 
  background: #ffffff;
  padding-bottom: 10px;
  border-radius: 22px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}


#mainVer .title-section {
  font-weight: bold;
  color: #223;
  font-size: 26px;
  text-align: center;
  margin-bottom: 55px; 
}


#mainVer .filtro-container {
  display: flex;
  justify-content: center;
  gap: 14px; 
  flex-wrap: wrap;
  margin-bottom: 35px; 
}

/* CAMPOS */
#mainVer .filtro-input,
#mainVer .filtro-select {
  padding: 10px 14px; 
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  min-width: 170px; 
}

#mainVer .filtro-input:focus,
#mainVer .filtro-select:focus {
  border-color: #00254e;
}


#mainVer .filtro-btn {
  background-color: #3d4eb0;
  color: #fff;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  font-weight: bold;
}

#mainVer .filtro-btn:hover {
  background-color: #2a2980;
}



/* ------------------------ Main Votações ------------------------  */




#maincriavoto .container {
  max-width: 800px;
  margin: 10px auto;     
  padding: 0 20px;
  text-align: center;
  margin-bottom: 20px;    
}

/* TÍTULO */
#maincriavoto h2 {
  text-align: left;
  color: #002D62;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 8px;
  margin-top: 20px;      
}

#maincriavoto .subtitulo {
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

#maincriavoto .btn-criar {
  background-color: #002D62;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-top: -40px;
}

#maincriavoto .caixa-info {
  background-color: #eef3ff;
  border: 1px solid #002D62;
  padding: 30px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  margin-bottom: 80px;    
}

#maincriavoto .caixa-info strong {
  color: #002D62;
}

#maincriavoto .tabela-votacoes-container {
    overflow-x: auto;
    margin: 10px auto 140px auto;  
    max-width: 800px;
    text-align: center;
}

#maincriavoto .tabela-votacoes {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

/* CABEÇALHO */
#maincriavoto .tabela-votacoes thead th {
    color: #002D62;
    font-weight: 600;
    text-align: center;
    padding: 4px 8px;
}

/* CÉLULAS */
#maincriavoto .tabela-votacoes tbody td {
    text-align: center;
    color: #333;
    padding: 4px 8px;
}

/* COLUNA DESCRIÇÃO */
#maincriavoto .tabela-votacoes tbody td:nth-child(2) {
    text-align: left;
    width: 45%;
}

/* TAMANHO DAS OUTRAS COLUNAS */
#maincriavoto .tabela-votacoes tbody td:nth-child(1),
#maincriavoto .tabela-votacoes tbody td:nth-child(3),
#maincriavoto .tabela-votacoes tbody td:nth-child(4),
#maincriavoto .tabela-votacoes tbody td:nth-child(5) {
    width: auto;
    white-space: nowrap;
}

/* LINHAS ZEBRADAS */
#maincriavoto .tabela-votacoes tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* BOTÃO GERENCIAR */
#maincriavoto .btn-gerenciar-table {
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    background-color: #005eff;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.15s;
}

#maincriavoto .btn-gerenciar-table:hover {
    background-color: #003bb5;
}



/* ------------------------ Main Criar Votações ------------------------  */

#maincriavot .container {

  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 140px;
}

#maincriavot h2 {
  text-align: left;
  color: #002D62;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 8px;
  margin-top: 50px;
}

#maincriavot .subtitulo {
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

#maincriavot .btn-criar {
  background-color: #002D62;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-top: -40px;
}

#maincriavot .linha-completa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: -8px auto 50px auto;
}

#maincriavot .linha-fina {
  flex-grow: 1;
  height: 3px;
  background-color: #800000;
}

#maincriavot .linha-grossa {
  width: 320px;
  height: 18px;
  background-color: #800000;
  border-radius: 10px;
}


#maincriavot .caixa-info {
  background-color: #eef3ff;
  border: 1px solid #002D62;
  padding: 30px;
  border-radius: 5px;
  margin: 20px auto 150px auto;
  max-width: 500px;
  text-align: center;
}

#maincriavot .caixa-info strong {
  color: #002D62;
}


#maincriavot .form-box {
  border: 1px solid #002D62;
  border-radius: 6px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}


#maincriavot .form-header {
  background-color: #800000;
  color: white;
  font-weight: bold;
  padding: 12px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  letter-spacing: 0.5px;
}


#maincriavot .form-content {
  padding: 25px 45px 30px 35px;
  text-align: left;
}

#maincriavot .form-content p {
  color: #002D62;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
}

#maincriavot label {
  font-weight: bold;
  color: #002D62;
  font-size: 13px;
  display: block;
  margin-bottom: 4px;
}

#maincriavot select, #maincriavot input[type="date"], #maincriavot textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 6px 8px;
  font-size: 13.5px;
  margin-bottom: 35px;
  font-family: "Segoe UI", sans-serif;
}



#maincriavot .duas-colunas {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

#maincriavot .tres-colunas {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

#maincriavot .tres-colunas .campos {
  width: 180px;
}

#maincriavot .tres-colunas .campo {
  width: 130px;
}

#maincriavot textarea {
  resize: none;
  height: 70px;
}

#maincriavot .btn-confirmar {
  background-color: #013e83;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 50px;
  border-radius: 25px;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
}

#maincriavot .btn-confirmar:hover {
  background-color: #001d3a;
}

#maincriavot #semestre{
  width: 140px;
} 

#maincriavot #curso{
  min-width: 363px;

} 



#maincriavot #inicio {
  border: 2px solid #1b49ac;
  background-color: #deeefd;
  text-align: center;
}

#maincriavot #fim {
  border: 2px solid #ac1b1b;
  background-color: #fddede;
  text-align: center;
}

#maincriavot input[type="date"] {
  text-align: center; 
}

/* ------------------------ Main Criar Votações Personalizar ------------------------  */

#maincostumizarvot  {
  margin-bottom: 150px;
}

#maincostumizarvot .linha-completa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: -15px auto 50px auto;
}

#maincostumizarvot .linha-fina {
  flex-grow: 1;
  height: 3px;
  background-color: #800000;
}

#maincostumizarvot .linha-grossa {
  width: 250px;
  height: 18px;
  background-color: #800000;
  border-radius: 10px;

}

#maincostumizarvot .container {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
}

#maincostumizarvot h2 {
  color: #002D62;
  
  margin-top: 50px;
  font-size: 1.5em;
  text-align: center;
  display: block;
  width: 100%;
}

#maincostumizarvot .form-box {
  width: 550px; 
  margin: 0 auto;
  border: 1px solid #002D62;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

#maincostumizarvot .form-header {
  background-color: #990000;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

#maincostumizarvot .form-content {
  padding: 20px;
  text-align: center;
}

#maincostumizarvot .form-content p {
  margin-bottom: 20px;
  font-size: 0.95em;
  margin-top: 50px;
  text-align: justify;

}

#maincostumizarvot .form-group {
  margin-bottom: 35px;
  text-align: left;
  font-size: 0.9em;

}

#maincostumizarvot .form-group label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

#maincostumizarvot .form-group select,
#maincostumizarvot .form-group input[type="date"] {
  width: 100%;
  padding: 6px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  border: 1px solid #002e6263;
}

#maincostumizarvot .form-group select {
  background-color: rgb(241, 241, 241);
  border: 1px solid #002e6263;
}

#maincostumizarvot #inicio{
  background-color: #cafdba;
}
#maincostumizarvot #fim {
  background-color: #fdbaba;
}

#maincostumizarvot .btn-confirmar {
  background-color: #002D62;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

#maincostumizarvot .datas-group {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 15px auto;

}

#maincostumizarvot .datas-group .campo-data {
  display: flex;
  align-items: center;
}

#maincostumizarvot .datas-group .campo-data label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1a355e;
  font-size: 1em;
  margin-bottom: 0px;
  margin-right: 8px;
}

#maincostumizarvot .datas-group .campo-data input[type="date"] {
  border: none;
  border-radius: 10px;
  background-color: #dbdbdb;
  font-size: 14px;
  text-align: center;
  border: 1px solid #002e6263;
}


/* ------------------------ Main inscrição Votações ------------------------  */

#votaradm .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 8px;
}

#votaradm .topo div {
    font-size: 18px;
}

#votaradm .btn-iniciar {
    background-color: #d20000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#votaradm .btn-iniciar:hover {
    background-color: #a70000;
}

#votaradm .btn-iniciar {
    background-color: #d20000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#votaradm .btn-iniciar:hover {
    background-color: #a70000;
}

#votaradm .candidatos-title {
    text-align: center;
    font-weight: bold;
    margin-top: 55px;
}

#votaradm .container-externa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#votaradm .nome {
    margin-top: 10px;
    min-height: 50px;
    text-align: center;
}

#votaradm .seta {
    background-color: #d20000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: -55px; 
    transition: background-color 0.3s ease;
}

#votaradm .seta:hover {
    background-color: #a70000;
}

#votaradm .popup-confirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

#votaradm .popup-box {
    background: #e1e1e1;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #a70000;
}

#votaradm .popup-box button {
    margin: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#votaradm .btn-sim {
    background-color: #b03d3d;
    border: 1px solid #a70000;
    color: white;
}
#votaradm .btn-sim:hover {
    background-color: #802929;
    
}
#votaradm .btn-nao {
    background-color: #3d4eb0;
    border: 1px solid #00388b;
    color: white;
}
#votaradm .btn-nao:hover {
    background-color: #3e2980;
}
    
#votaradm .form-editar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 50px;
}

#votaradm .form-editar label {
    font-size: 14px;
    margin-top: 5px;
}

#votaradm .form-editar input,
#votaradm .form-editar textarea {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #bdbdfd;
    text-align: center;
}

#votaradm .form-editar textarea {
    resize: none;
    height: 50px;
}

#votaradm .botoes {
    display: flex;
    justify-content: center;
    gap: 10px;

}


#votaradm .container-cards {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #990000 transparent;
    margin-top: 35px;
    margin-bottom: 150px;
}

#votaradm .card {
    background-color: #0c2d52;
    color: white;
    border-radius: 12px;
    padding: 15px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
    height: 340px;
    overflow: hidden;
    position: relative;
}

#votaradm .card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#votaradm .card .nome {
    min-height: 60px;
    text-align: center;
    margin-bottom: 8px;
}

#votaradm .card .descricao {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10px;
    min-height: 60px;
}

#votaradm .botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

#votaradm .btn-editar {
    background-color: #3d4eb0;
    border: 1px solid #00388b;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#votaradm .btn-editar:hover {
    background-color: #3e2980;
}

#votaradm .btn-remover {
    background-color: #d20000;
    border: 1px solid #8b0000;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#votaradm .btn-remover:hover {
    background-color: #a70000;
}

#votaradm .card.editar {
    height: auto;
    width: 230px;
    transform: scale(1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#votaradm .form-editar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 10px;
}

#votaradm .form-editar label {
    font-size: 14px;
    margin-top: 5px;
}

#votaradm .form-editar input,
#votaradm .form-editar textarea {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #efeff8;
    text-align: center;
}

#votaradm .form-editar textarea {
    resize: none;
    height: 50px;
}

#votaradm .card .descricao {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10px;
    min-height: 60px;
}

#votaradm .foto-usuario-editar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#votaradm .foto-container-editar {
  position: relative;
  display: inline-block;
}

#votaradm .foto-label-editar {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#votaradm .foto-label-editar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #0d2a53;
  padding: 5px;
  background-color: #b7bbff56;
  object-fit: cover;
}

#votaradm .foto-label-editar img:hover {
  border: 2px dashed #0d2a53;
  background-color: #b7bbff56;
}

#votaradm input[type="file"].input-editar {
  display: none;
}

#votaradm .btn-confirmar {
    background-color: #3d4eb0;
    border: 1px solid #00388b;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#votaradm .btn-confirmar:hover {
    background-color: #3e2980;
}

#votaradm .btn-cancelar {
    background-color: #d20000;
    border: 1px solid #8b0000;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#votaradm .btn-cancelar:hover {
    background-color: #a70000;
}

#votaradm .linha-completa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: -17px auto 50px auto;
}

#votaradm .linha-fina {
  flex-grow: 1;
  height: 3px;
  background-color: #800000;
}

#votaradm .linha-grossa {
  width: 215px;
  height: 18px;
  background-color: #800000;
  border-radius: 10px;

}



/* ------------------------ Main Votações iniciada (adm) ------------------------  */


#mainvotadm h2 {
  font-size: 24px;
  font-weight: bold;
  color: #002c5f;
}

/* Área superior: Título e botão */
#mainvotadm .info-votacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

#mainvotadm .info-votacao h3 {
  font-size: 20px;
}

/* Botão Encerrar */
#mainvotadm .encerrar,
#mainvotadm .btn-encerrar {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 50px;
}

#mainvotadm .encerrar:hover,
#mainvotadm .btn-encerrar:hover {
  background-color: #8d0000;
}

/* Área dos Cards */
#mainvotadm .votacao-completo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

/* Botões de seta */
#mainvotadm #seta-esquerda,
#mainvotadm #seta-direita {
  background-color: #d20000;
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainvotadm #seta-esquerda:hover,
#mainvotadm #seta-direita:hover {
  background-color: #a70000;
}

/* Container dos Cards */
#mainvotadm .votacoes-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 720px;
  justify-content: center;
}

/* Estilo padrão do Card */
#mainvotadm .card {
  background-color: #0c2d52;
  color: white;
  border-radius: 12px;
  padding: 15px;
  width: 220px;
  height: 250px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

#mainvotadm .card:hover {
  background-color: #153e72;
}

/* Card em destaque */
#mainvotadm .card.destaque {
  height: auto;
  width: 230px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
  background-color: #0b3d91;
}

/* Imagem do candidato */
#mainvotadm .card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  user-select: none;
}

/* Nome do candidato */
#mainvotadm .nome-candidato {
  min-height: 68px;
  font-weight: bold;
  font-size: 16px;
}

/* Frase e votos, inicialmente escondidos */
#mainvotadm .frase {
  font-size: 13px;
  margin-top: 10px;
  padding: 0 10px;
  display: none;
  color: #ddd;
  flex-grow: 1;
}

#mainvotadm .total-votos {
  font-size: 13px;
  margin-top: 5px;
  color: #ccc;
  display: none;
}

/* Mostra frase e votos no card em destaque */
#mainvotadm .card.destaque .frase,
#mainvotadm .card.destaque .total-votos {
  display: block;
}


#mainvotadm .linha-completa {
  display: flex;
  align-items: center;
  height: 10px;
  margin: 20px 0;
  margin-bottom: 50px;
  margin-top: -15px;
}

#mainvotadm #centro {
text-align: left;
}
#mainvotadm .linha-grossa {
  height: 15px;
  width: 205px;
  background-color: #800000;
  border-radius: 10px;
  
}

#mainvotadm .linha-fina {
  height: 3px;
  flex-grow: 1;
  background-color: #800000;
}


#mainvotadm .info-votacao {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 500px; 
  margin-bottom: 30px;
}


/* ------------------------ Main resultados (adm) ------------------------  */



 #mainfinal h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
  }


  #mainfinal .subtitulo {
    font-weight: bold;
    margin-bottom: 20px;
  }


  #mainfinal .cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }


  #mainfinal .card {
    background-color: #0c2d52;
    color: white;
    border-radius: 10px;
    width: 230px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    margin-bottom: 150px;
  }

  #mainfinal .card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    user-select: none;
  }

  #mainfinal .card strong {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
  }

  #mainfinal .card p {
    font-size: 13px;
    margin: 0 0 10px 0;
    line-height: 1.3;
  }

  #mainfinal .votos {
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
  }

  #mainfinal .btn-gerar-ata {
    background-color: #b30000;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    user-select: none;
    transition: background-color 0.3s ease;
  }

  #mainfinal .btn-gerar-ata:hover {
    background-color: #8d0000;
  }


  #mainfinal .linha-completa {
    display: flex;
    align-items: center;
    height: 10px;
    margin: 20px 0;
    margin-bottom: 50px;
    margin-top: -5px;
  }

  #mainfinal #centro {
  text-align: left;
  }
  #mainfinal .linha-grossa {
    height: 15px;
    width: 175px;
    background-color: #800000;
    border-radius: 10px;
    
  }

  #mainfinal .linha-fina {
    height: 3px;
    flex-grow: 1;
    background-color: #800000;
  }


  #mainfinal .info-votacao {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 500px; 
    margin-bottom: 30px;
  }

 #mainfinal .container {
      text-align: center;
    }

   #mainfinal h2 {
      color: #002c5f;
      margin-bottom: 15px;
    }

   #mainfinal table {
      margin: 0 auto;
      border-collapse: collapse;
      width: 60%;
      max-width: 600px;
      background-color: #ddd;
      text-align: center;
      margin-bottom: 100px;
    }

   #mainfinal th, #mainfinal td {
      border: 1px solid #999;
      padding: 8px;
    }

  #mainfinal  th {
      background-color: #283ea1;
      color: white;
    }

     #mainfinal .sim {
      background-color: #c2ffc0; 
      color: #004c99;
      font-weight: bold;
    }

    #mainfinal .nao {
      background-color: #ffc4c4; 
      color: #990000;
      font-weight: bold;
    }

  #mainfinal #pessoa {
    background-color: #d5e9ff;
      
  }
