body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  color: #001f3f;
}

header {
  background-color: #990000;
  padding: 10px 0;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  height: 40px;
}

.logo-cps {
  height: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.principal {
  padding: 30px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #001f3f;
}

.linha {
  width: 100%;
  max-width: 360px;
  border: 2px solid #990000;
  border-radius: 2px;
  margin-top: 4px;
}

.card-admin {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 15px;
  margin-top: 30px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  max-width: 650px;
}

.card-admin img {
  width: 200px;
  height: auto;
  border-radius: 6px;
  margin-right: 20px;
}

.card-texto {
  flex: 1;
}

.card-texto h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #001f3f;
}

.card-texto p {
  font-size: 14px;
  margin: 10px 0;
}

.card-texto button {
  background-color: #8000a0;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.card-texto button:hover {
  background-color: #62007e;
}

/* Rodapé */
footer {
  background-color: #0c2d52;
  color: white;
  padding: 20px 30px;
  margin-top: 50px;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.logo-footer img {
  height: 60px;
}

.politica {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
